body {
    margin: 0;
    font-family: "Courier New", Courier, monospace; /* セリフ体フォントを使用 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa; /* 水色の背景色を追加 */
}

#clamshell {
    background-color: #d4d4d4;
    border-radius: 20px;
    width: 600px;
    height: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#screen {
    background-color: #fff;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen iframe {
    width: 100%;
    height: 100%;
    border: 3px solid #81d4fa; /* 水色の枠線を追加 */
}

#keyboard {
    background-color: #2c2c2c;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

#keys {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
}

.key {
    background-color: #d0d0d0; /* 薄灰色のキーボタン */
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}
